# Import Libraries

In [1]:
import pandas as pd
import numpy as np

In [2]:
concrete_data = pd.read_csv('https://cocl.us/concrete_data')
concrete_data.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age,Strength
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28,79.99
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28,61.89
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270,40.27
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365,41.05
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360,44.30

In [3]:
concrete_data.shape

(1030, 9)

In [4]:
concrete_data.describe()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age,Strength
count,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000
mean,281.167864,73.895825,54.188350,181.567282,6.204660,972.918932,773.580485,45.662136,35.817961
std,104.506364,86.279342,63.997004,21.354219,5.973841,77.753954,80.175980,63.169912,16.705742
min,102.000000,0.000000,0.000000,121.800000,0.000000,801.000000,594.000000,1.000000,2.330000
25%,192.375000,0.000000,0.000000,164.900000,0.000000,932.000000,730.950000,7.000000,23.710000
50%,272.900000,22.000000,0.000000,185.000000,6.400000,968.000000,779.500000,28.000000,34.445000
75%,350.000000,142.950000,118.300000,192.000000,10.200000,1029.400000,824.000000,56.000000,46.135000
max,540.000000,359.400000,200.100000,247.000000,32.200000,1145.000000,992.600000,365.000000,82.600000

In [5]:
concrete_data.isnull().sum()

Cement                0
Blast Furnace Slag    0
Fly Ash               0
Water                 0
Superplasticizer      0
Coarse Aggregate      0
Fine Aggregate        0
Age                   0
Strength              0
dtype: int64

# Split Data into predictors and target

In [6]:
concrete_data_columns = concrete_data.columns
predictors = concrete_data[concrete_data_columns[concrete_data_columns != 'Strength']] # all columns except Strength
target = concrete_data['Strength'] # Strength column

In [7]:
predictors.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360

In [8]:
target.head()

0    79.99
1    61.89
2    40.27
3    41.05
4    44.30
Name: Strength, dtype: float64

In [9]:
predictors_norm = (predictors - predictors.mean()) / predictors.std()
predictors_norm.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age
0,2.476712,-0.856472,-0.846733,-0.916319,-0.620147,0.862735,-1.217079,-0.279597
1,2.476712,-0.856472,-0.846733,-0.916319,-0.620147,1.055651,-1.217079,-0.279597
2,0.491187,0.795140,-0.846733,2.174405,-1.038638,-0.526262,-2.239829,3.551340
3,0.491187,0.795140,-0.846733,2.174405,-1.038638,-0.526262,-2.239829,5.055221
4,-0.790075,0.678079,-0.846733,0.488555,-1.038638,0.070492,0.647569,4.976069

In [10]:
n_cols = predictors.shape[1] # number of predictors
n_cols

8

# Import Keras

In [11]:
#pip install tensorflow==1.13.1

In [12]:
import keras

Using TensorFlow backend.
/opt/conda/envs/Python-3.7-main/lib/python3.7/site-packages/tensorflow/python/framework/dtypes.py:526: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint8 = np.dtype([("qint8", np.int8, 1)])
/opt/conda/envs/Python-3.7-main/lib/python3.7/site-packages/tensorflow/python/framework/dtypes.py:527: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint8 = np.dtype([("quint8", np.uint8, 1)])
/opt/conda/envs/Python-3.7-main/lib/python3.7/site-packages/tensorflow/python/framework/dtypes.py:528: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint16 = np.dtype([("qint16", np.int16, 1)])
/opt/conda/envs/Python-3.7-main/lib/python3.7/site-packages/tensorflow/python/framework/dtypes.py:529: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint16 = np.dtype([("quint16", np.uint16, 1)])
/opt/conda/envs/Python-3.7-main/lib/python3.7/site-packages/tensorflow/python/framework/dtypes.py:530: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint32 = np.dtype([("qint32", np.int32, 1)])
/opt/conda/envs/Python-3.7-main/lib/python3.7/site-packages/tensorflow/python/framework/dtypes.py:535: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  np_resource = np.dtype([("resource", np.ubyte, 1)])

In [13]:
#from keras import backend
#from tensorflow.keras import backend

In [14]:
from keras.models import Sequential
from keras.layers import Dense

# Build a NN

In [15]:
# define regression model
def regression_model():
    # create model
    model = Sequential()
    model.add(Dense(10, activation='relu', input_shape=(n_cols,)))
    model.add(Dense(1))
    
    # compile model
    model.compile(optimizer='adam', loss='mean_squared_error')
    return model

# Split Train and test data

In [16]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(predictors, target, test_size=0.3, random_state=42)

In [17]:
# build the model
model = regression_model()

WARNING:tensorflow:From /opt/conda/envs/Python-3.7-main/lib/python3.7/site-packages/tensorflow/python/framework/op_def_library.py:263: colocate_with (from tensorflow.python.framework.ops) is deprecated and will be removed in a future version.
Instructions for updating:
Colocations handled automatically by placer.

In [18]:
# fit the model
model.fit(X_train, y_train, epochs=50, verbose=1)

WARNING:tensorflow:From /opt/conda/envs/Python-3.7-main/lib/python3.7/site-packages/tensorflow/python/ops/math_ops.py:3066: to_int32 (from tensorflow.python.ops.math_ops) is deprecated and will be removed in a future version.
Instructions for updating:
Use tf.cast instead.
Epoch 1/50
721/721 [==============================] - 0s 253us/step - loss: 3794.5561
Epoch 2/50
721/721 [==============================] - 0s 46us/step - loss: 1978.8722
Epoch 3/50
721/721 [==============================] - 0s 50us/step - loss: 1603.5046
Epoch 4/50
721/721 [==============================] - 0s 45us/step - loss: 1292.6677
Epoch 5/50
721/721 [==============================] - 0s 48us/step - loss: 988.8422
Epoch 6/50
721/721 [==============================] - 0s 50us/step - loss: 742.2193
Epoch 7/50
721/721 [==============================] - 0s 52us/step - loss: 544.9872
Epoch 8/50
721/721 [==============================] - 0s 55us/step - loss: 415.8767
Epoch 9/50
721/721 [==============================] - 0s 46us/step - loss: 315.5181
Epoch 10/50
721/721 [==============================] - 0s 47us/step - loss: 249.1895
Epoch 11/50
721/721 [==============================] - 0s 45us/step - loss: 209.9864
Epoch 12/50
721/721 [==============================] - 0s 63us/step - loss: 182.3962
Epoch 13/50
721/721 [==============================] - 0s 56us/step - loss: 164.1784
Epoch 14/50
721/721 [==============================] - 0s 42us/step - loss: 152.8821
Epoch 15/50
721/721 [==============================] - 0s 52us/step - loss: 144.6474
Epoch 16/50
721/721 [==============================] - 0s 49us/step - loss: 137.8445
Epoch 17/50
721/721 [==============================] - 0s 51us/step - loss: 136.3446
Epoch 18/50
721/721 [==============================] - 0s 42us/step - loss: 130.1530
Epoch 19/50
721/721 [==============================] - 0s 47us/step - loss: 123.9153
Epoch 20/50
721/721 [==============================] - 0s 43us/step - loss: 130.2187
Epoch 21/50
721/721 [==============================] - 0s 57us/step - loss: 124.8655
Epoch 22/50
721/721 [==============================] - 0s 47us/step - loss: 117.0094
Epoch 23/50
721/721 [==============================] - 0s 44us/step - loss: 114.8208
Epoch 24/50
721/721 [==============================] - 0s 45us/step - loss: 112.4357
Epoch 25/50
721/721 [==============================] - 0s 50us/step - loss: 111.0836
Epoch 26/50
721/721 [==============================] - 0s 47us/step - loss: 110.6260
Epoch 27/50
721/721 [==============================] - 0s 47us/step - loss: 109.7711
Epoch 28/50
721/721 [==============================] - 0s 47us/step - loss: 107.7352
Epoch 29/50
721/721 [==============================] - 0s 53us/step - loss: 107.8984
Epoch 30/50
721/721 [==============================] - 0s 50us/step - loss: 106.6934
Epoch 31/50
721/721 [==============================] - 0s 44us/step - loss: 107.5176
Epoch 32/50
721/721 [==============================] - 0s 44us/step - loss: 104.4565
Epoch 33/50
721/721 [==============================] - 0s 49us/step - loss: 106.1795
Epoch 34/50
721/721 [==============================] - 0s 46us/step - loss: 101.8394
Epoch 35/50
721/721 [==============================] - 0s 41us/step - loss: 103.1158
Epoch 36/50
721/721 [==============================] - 0s 51us/step - loss: 107.9494
Epoch 37/50
721/721 [==============================] - 0s 45us/step - loss: 105.2769
Epoch 38/50
721/721 [==============================] - 0s 48us/step - loss: 101.2074
Epoch 39/50
721/721 [==============================] - 0s 44us/step - loss: 99.4662
Epoch 40/50
721/721 [==============================] - 0s 45us/step - loss: 97.2730
Epoch 41/50
721/721 [==============================] - 0s 47us/step - loss: 96.5452
Epoch 42/50
721/721 [==============================] - 0s 45us/step - loss: 98.1312
Epoch 43/50
721/721 [==============================] - 0s 45us/step - loss: 105.7988
Epoch 44/50
721/721 [==============================] - 0s 45us/step - loss: 96.2053
Epoch 45/50
721/721 [==============================] - 0s 50us/step - loss: 95.7101
Epoch 46/50
721/721 [==============================] - 0s 42us/step - loss: 95.8987
Epoch 47/50
721/721 [==============================] - 0s 46us/step - loss: 96.3171
Epoch 48/50
721/721 [==============================] - 0s 51us/step - loss: 93.2882
Epoch 49/50
721/721 [==============================] - 0s 52us/step - loss: 97.1508
Epoch 50/50
721/721 [==============================] - 0s 44us/step - loss: 92.6886

In [19]:
loss_val = model.evaluate(X_test, y_test)
y_pred = model.predict(X_test)
loss_val

309/309 [==============================] - 0s 74us/step

113.73427853383679

In [20]:
from sklearn.metrics import mean_squared_error

mean_square_error = mean_squared_error(y_test, y_pred)
mean = np.mean(mean_square_error)
standard_deviation = np.std(mean_square_error)
print(mean, standard_deviation)

113.73428038200946 0.0

In [22]:
mean_squared_errors = []
for i in range(0, 100):
    X_train, X_test, y_train, y_test = train_test_split(predictors, target, test_size=0.3, random_state=i)
    model.fit(X_train, y_train, epochs=50, verbose=0)
    MSE = model.evaluate(X_test, y_test, verbose=0)
    print("MSE "+str(i+1)+": "+str(MSE))
    y_pred = model.predict(X_test)
    mean_square_error = mean_squared_error(y_test, y_pred)
    mean_squared_errors.append(mean_square_error)

mean_squared_errors = np.array(mean_squared_errors)
mean = np.mean(mean_squared_errors)
standard_deviation = np.std(mean_squared_errors)

print('\n')
print("Mean: "+str(mean))
print("Standard Deviation: "+str(standard_deviation))
print('\n')

MSE 1: 44.877202944462354
MSE 2: 52.56338717019288
MSE 3: 44.75227863348803
MSE 4: 45.52024586995443
MSE 5: 46.55191701747067
MSE 6: 51.78365467898668
MSE 7: 53.15600190887945
MSE 8: 42.028356008930885
MSE 9: 43.21930899512035
MSE 10: 43.88266171452297
MSE 11: 39.93641213228788
MSE 12: 43.82997756019765
MSE 13: 57.36618792586342
MSE 14: 47.27710669557639
MSE 15: 46.60191299537239
MSE 16: 38.00492907033383
MSE 17: 43.57599653472406
MSE 18: 45.673440433242945
MSE 19: 38.53541430377651
MSE 20: 43.023217025312405
MSE 21: 40.62635130403883
MSE 22: 42.37096869212524
MSE 23: 40.35473963666502
MSE 24: 40.37915720522982
MSE 25: 41.957042212625154
MSE 26: 45.09211629725583
MSE 27: 43.7198073624793
MSE 28: 38.2307514820284
MSE 29: 49.74346591739593
MSE 30: 41.40631086849472
MSE 31: 46.82278586822806
MSE 32: 37.34298032618649
MSE 33: 41.47362850399079
MSE 34: 42.9392783896437
MSE 35: 59.01304986947563
MSE 36: 52.44975849879984
MSE 37: 50.3343997202259
MSE 38: 43.75743705477915
MSE 39: 39.78195860779401
MSE 40: 36.949558511135265
MSE 41: 46.42519967532852
MSE 42: 43.031238605289396
MSE 43: 43.58097466527451
MSE 44: 46.00975044028273
MSE 45: 45.420148337157414
MSE 46: 47.15149529466351
MSE 47: 44.421459926370666
MSE 48: 48.969245441523185
MSE 49: 44.36281114102953
MSE 50: 44.982494169068566
MSE 51: 37.77504733928199
MSE 52: 40.6778673894197
MSE 53: 39.958130327243246
MSE 54: 40.98184339899847
MSE 55: 45.855484650744586
MSE 56: 40.12458737691244
MSE 57: 40.25573740344989
MSE 58: 45.65242201919309
MSE 59: 50.84451206293692
MSE 60: 47.94915794940442
MSE 61: 40.97835034614242
MSE 62: 39.63958906895906
MSE 63: 44.217260873047664
MSE 64: 45.117016999081116
MSE 65: 41.00809917017866
MSE 66: 41.3460798541319
MSE 67: 37.76818166195768
MSE 68: 44.23608077459737
MSE 69: 35.50780152502955
MSE 70: 43.48457161122541
MSE 71: 41.7358266836617
MSE 72: 41.56096109680373
MSE 73: 40.37934965608961
MSE 74: 39.995751365488786
MSE 75: 43.83636290664426
MSE 76: 46.28745467300168
MSE 77: 39.99324414645198
MSE 78: 36.86658241988
MSE 79: 49.86904518349657
MSE 80: 47.390200766159104
MSE 81: 39.55429466642608
MSE 82: 42.73400843104884
MSE 83: 40.23539732652189
MSE 84: 39.57432072833904
MSE 85: 36.060029205766696
MSE 86: 36.16198618126533
MSE 87: 36.6986487428733
MSE 88: 34.13024522108553
MSE 89: 32.85237996863702
MSE 90: 39.06684529202656
MSE 91: 39.41295656494338
MSE 92: 34.38268360891003
MSE 93: 43.406552682030934
MSE 94: 39.621778852345486
MSE 95: 37.22412983422141
MSE 96: 35.944535881956035
MSE 97: 40.21629147082085
MSE 98: 34.14623004950366
MSE 99: 37.569305179188554
MSE 100: 35.75148311479192


Mean: 42.67296675456798
Standard Deviation: 4.901428028723102